In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Request 1

In [2]:
page = requests.get('https://www.wikipedia.org')
page

## Request 1 Results

In [3]:
soup = BeautifulSoup(page.text)

tags = soup.find_all(True)
tags_list = [{'Tag': tag.name} for tag in tags]

df = pd.DataFrame(tags_list)
df

        Tag
0      html
1      head
2      meta
3     title
4      meta
..      ...
963       a
964  script
965  script
966  script
967   style

[968 rows x 1 columns]

# Request 2

In [4]:
page = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
page

In [65]:
page = requests.get('https://presidentofindia.nic.in/former-presidents.htm')
soup = BeautifulSoup(page.text)

In [66]:
prezname = []
for i in soup.find_all('div', class_="presidentListing"):
    prezname.append(i.h3.text)

prezname = [i.split('(')[0].strip() for i in prezname]
    
prezname

['Shri Ram Nath Kovind',
 'Shri Pranab Mukherjee',
 'Smt Pratibha Devisingh Patil',
 'DR. A.P.J. Abdul Kalam',
 'Shri K. R. Narayanan',
 'Dr Shankar Dayal Sharma',
 'Shri R Venkataraman',
 'Giani Zail Singh',
 'Shri Neelam Sanjiva Reddy',
 'Dr. Fakhruddin Ali Ahmed',
 'Shri Varahagiri Venkata Giri',
 'Dr. Zakir Husain',
 'Dr. Sarvepalli Radhakrishnan',
 'Dr. Rajendra Prasad']

In [67]:
prezterm = []
for i in soup.find_all('div', class_="presidentListing"):
    prezterm.append(i.p.text)

prezterm = [i.split(':')[1].strip() for i in prezterm]
    
prezterm

['25 July, 2017 to 25 July, 2022',
 '25 July, 2012 to 25 July, 2017',
 '25 July, 2007 to 25 July, 2012',
 '25 July, 2002 to 25 July, 2007',
 '25 July, 1997 to 25 July, 2002',
 '25 July, 1992 to 25 July, 1997',
 '25 July, 1987 to 25 July, 1992',
 '25 July, 1982 to 25 July, 1987',
 '25 July, 1977 to 25 July, 1982',
 '24 August, 1974 to 11 February, 1977',
 '3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 '13 May, 1967 to 3 May, 1969',
 '13 May, 1962 to 13 May, 1967',
 '26 January, 1950 to 13 May, 1962']

In [68]:
print(len(prezname),len(prezterm))

14 14

## Request 2 Results

In [9]:
df = pd.DataFrame({"Name":prezname,"Term of Office":prezterm})
df

,Name,Term of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

# Request 3

In [10]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
page

In [11]:
soup = BeautifulSoup(page.text)

In [12]:
for table in soup.find_all('table'):
    print(table.get('class'))

['table']

In [13]:
table = soup.find('table')
rows = table.find_all('tr')

In [14]:
teams_data = []
for row in rows[1:11]:
    cells = row.find_all('td')
    rank = cells[0].text.strip()
    team = cells[1].text.strip()
    matches = cells[2].text.strip()
    points = cells[3].text.strip()
    rating = cells[4].text.strip()
    teams_data.append({'Rank': rank, 'Team': team, 'Matches': matches, 'Points': points, 'Rating': rating})

teams_df = pd.DataFrame(teams_data)
teams_df

  Rank              Team Matches Points Rating
0    1    Australia\nAUS      23  2,714    118
1    2     Pakistan\nPAK      20  2,316    116
2    3        India\nIND      33  3,807    115
3    4   New Zealand\nNZ      27  2,806    104
4    5      England\nENG      24  2,426    101
5    6  South Africa\nSA      19  1,910    101
6    7   Bangladesh\nBAN      25  2,451     98
7    8  Afghanistan\nAFG      10    878     88
8    9     Sri Lanka\nSL      21  1,682     80
9   10   West Indies\nWI      25  1,797     72

## Request 3a Results

In [15]:
teams_df['Team'] = teams_df['Team'].str.split('\\n').str[0]
teams_df

  Rank          Team Matches Points Rating
0    1     Australia      23  2,714    118
1    2      Pakistan      20  2,316    116
2    3         India      33  3,807    115
3    4   New Zealand      27  2,806    104
4    5       England      24  2,426    101
5    6  South Africa      19  1,910    101
6    7    Bangladesh      25  2,451     98
7    8   Afghanistan      10    878     88
8    9     Sri Lanka      21  1,682     80
9   10   West Indies      25  1,797     72

## Request 3b Begin

In [16]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
page

In [17]:
soup = BeautifulSoup(page.text)

In [18]:
for table in soup.find_all('table'):
    print(table.get('class'))

['table', 'rankings-table']

In [19]:
table = soup.find('table', {'class': 'rankings-table'})
rows = table.find_all('tr')

## Request 3b Results

In [20]:
batting_data = []
for row in rows[1:11]:
    cells = row.find_all('td')
    rank = cells[0].text.strip()
    name = cells[1].text.strip()
    team = cells[2].text.strip()
    rating = cells[3].text.strip()
    batting_data.append({'Rank': rank, 'Name': name, 'Team': team, 'Rating': rating})

batting_df = pd.DataFrame(batting_data)
batting_df['Rank'] = batting_df['Rank'].str.split('\\n').str[0]

batting_df

  Rank                   Name Team Rating
0    1             Babar Azam  PAK    886
1    2  Rassie van der Dussen   SA    777
2    3           Fakhar Zaman  PAK    755
3    4            Imam-ul-Haq  PAK    745
4    5           Shubman Gill  IND    738
5    6           David Warner  AUS    726
6    7           Harry Tector  IRE    722
7    8            Virat Kohli  IND    719
8    9        Quinton de Kock   SA    718
9   10           Rohit Sharma  IND    707

## Request 3c Begin

In [21]:
page = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page

In [22]:
soup = BeautifulSoup(page.text)

In [23]:
for table in soup.find_all('table'):
    print(table.get('class'))

['table', 'rankings-table']

In [24]:
table = soup.find('table', {'class': 'rankings-table'})
rows = table.find_all('tr')

## Request 3c Results

In [25]:
bowlers_data = []
for row in rows[1:11]:
    cells = row.find_all('td')
    rank = cells[0].text.strip()
    name = cells[1].text.strip()
    team = cells[2].text.strip()
    rating = cells[3].text.strip()
    bowlers_data.append({'Rank': rank, 'Name': name, 'Team': team, 'Rating': rating})
    
bowlers_df = pd.DataFrame(bowlers_data)
bowlers_df['Rank'] = bowlers_df['Rank'].str.split('\\n').str[0]

bowlers_df

  Rank              Name Team Rating
0    1    Josh Hazlewood  AUS    705
1    2    Mohammed Siraj  IND    691
2    3    Mitchell Starc  AUS    686
3    4        Matt Henry   NZ    667
4    5       Trent Boult   NZ    660
5    6       Rashid Khan  AFG    659
6    7        Adam Zampa  AUS    652
7    8  Mujeeb Ur Rahman  AFG    637
8    9     Mohammad Nabi  AFG    631
9   10    Shaheen Afridi  PAK    630

# Request 4

## Request 4a Begin

In [26]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page

In [27]:
soup = BeautifulSoup(page.text)

In [28]:
for table in soup.find_all('table'):
    print(table.get('class'))

['table']

In [29]:
table = soup.find('table')
rows = table.find_all('tr')

## Request 4a Result

In [30]:
wteam_data = []
for row in rows[1:11]:
    cells = row.find_all('td')
    rank = cells[0].text.strip()
    team = cells[1].text.strip()
    matches = cells[2].text.strip()
    points = cells[3].text.strip()
    rating = cells[4].text.strip()
    wteam_data.append({'Rank': rank, 'Team': team, 'Matches': matches, 'Points': points, 'Rating': rating})
    
wteam_df = pd.DataFrame(wteam_data)

wteam_df['Team'] = wteam_df['Team'].str.split('\\n').str[0]

wteam_df

  Rank          Team Matches Points Rating
0    1     Australia      21  3,603    172
1    2       England      28  3,342    119
2    3  South Africa      26  3,098    119
3    4         India      27  2,820    104
4    5   New Zealand      25  2,553    102
5    6   West Indies      27  2,535     94
6    7      Thailand      11    821     75
7    8    Bangladesh      14    977     70
8    9      Pakistan      27  1,678     62
9   10     Sri Lanka       9    479     53

## Request 4b Begin

In [31]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
page

In [32]:
soup = BeautifulSoup(page.text)

In [33]:
for table in soup.find_all('table'):
    print(table.get('class'))

['table', 'rankings-table']

In [34]:
table = soup.find('table', {'class': 'rankings-table'})
rows = table.find_all('tr')

## Request 4b Result

In [35]:
batting_data = []
for row in rows[1:11]:
    cells = row.find_all('td')
    rank = cells[0].text.strip()
    name = cells[1].text.strip()
    team = cells[2].text.strip()
    rating = cells[3].text.strip()
    batting_data.append({'Rank': rank, 'Name': name, 'Team': team, 'Rating': rating})

batting_df = pd.DataFrame(batting_data)

batting_df['Rank'] = batting_df['Rank'].str.split('\\n').str[0]

batting_df

  Rank                 Name Team Rating
0    1          Beth Mooney  AUS    754
1    2      Laura Wolvaardt   SA    732
2    3       Natalie Sciver  ENG    731
3    4          Meg Lanning  AUS    717
4    5     Harmanpreet Kaur  IND    716
5    6      Smriti Mandhana  IND    714
6    7  Chamari Athapaththu   SL    673
7    8         Ellyse Perry  AUS    626
8    9       Tammy Beaumont  ENG    595
9   10      Stafanie Taylor   WI    588

## Request 4c Begin

In [36]:
page = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
page

In [37]:
soup = BeautifulSoup(page.text)

In [38]:
for table in soup.find_all('table'):
    print(table.get('class'))

['table', 'rankings-table']

In [39]:
table = soup.find('table', {'class': 'table'})
rows = table.find_all('tr')

## Request 4c Result

In [40]:
allround_data = []
for row in rows[1:11]:
    cells = row.find_all('td')
    rank = cells[0].get_text(strip=True, separator="[")[0]
    name = cells[1].text.strip()
    team = cells[2].text.strip()
    rating = cells[3].text.strip()
    allround_data.append({'Rank': rank, 'Name': name, 'Team': team, 'Rating': rating})
    
allround_df = pd.DataFrame(bowlers_data)

allround_df['Rank'] = allround_df['Rank'].str.split('\\n').str[0]

allround_df

  Rank              Name Team Rating
0    1    Josh Hazlewood  AUS    705
1    2    Mohammed Siraj  IND    691
2    3    Mitchell Starc  AUS    686
3    4        Matt Henry   NZ    667
4    5       Trent Boult   NZ    660
5    6       Rashid Khan  AFG    659
6    7        Adam Zampa  AUS    652
7    8  Mujeeb Ur Rahman  AFG    637
8    9     Mohammad Nabi  AFG    631
9   10    Shaheen Afridi  PAK    630

# Request 5

In [41]:
page = requests.get('https://www.cnbc.com/world/?region=world')
page

In [42]:
soup = BeautifulSoup(page.text)

In [43]:
headline = []

for i in soup.find_all('a', class_="LatestNews-headline"):
    headline.append(i.text)

In [44]:
link = []

for i in soup.find_all('a', class_="LatestNews-headline"):
    link.append(i['href'])

In [45]:
from datetime import datetime

date = []

for i in soup.find_all('a', class_="LatestNews-headline"):
    date.append(datetime.strptime(i['href'][21:31], '%Y/%m/%d'))

# Request 5 Result

In [46]:
df = pd.DataFrame(({'Headline': headline, 'Date':date, 'News Link': link}))
df

,Headline,Date,News Link
0,These are the cheapest tech stocks in the S&P 500,2023-05-28,https://www.cnbc.com/2023/05/28/these-are-the-...
1,Turkey votes in runoff election after candidat...,2023-05-28,https://www.cnbc.com/2023/05/28/turkey-electio...
2,White House and Republicans reach a tentative ...,2023-05-27,https://www.cnbc.com/2023/05/27/white-house-an...
3,State Farm to stop accepting homeowners insura...,2023-05-27,https://www.cnbc.com/2023/05/27/state-farm-to-...
4,How Janie Deegan built Janie's Life-Changing B...,2023-05-27,https://www.cnbc.com/2023/05/27/how-janie-deeg...
5,Top 10 cheapest places in the U.S. to buy a be...,2023-05-27,https://www.cnbc.com/2023/05/27/cheapest-place...
6,Mark Cuban calls Elon Muskâ€™s Twitter algorithm...,2023-05-27,https://www.cnbc.com/2023/05/27/mark-cuban-say...
7,3 investing tips as the federal debt ceiling '...,2023-05-27,https://www.cnbc.com/2023/05/27/how-to-invest-...
8,Microsoft keyboard users are â€˜devastatedâ€™ afte...,2023-05-27,https://www.cnbc.com/2023/05/27/microsoft-keyb...
9,Steve Adcock: The 3 'stupidest' myths I've hea...,2023-05-27,https://www.cnbc.com/2023/05/27/steve-adcock-t...
10,Chip stocks AMD and Nvidia are among the most ...,2023-05-27,https://www.cnbc.com/2023/05/27/chip-stocks-am...
11,Analysts are pounding the table for these must...,2023-05-27,https://www.cnbc.com/2023/05/27/analysts-are-p...
12,Lower-income consumers pay for wealthy's credi...,2023-05-27,https://www.cnbc.com/2023/05/27/lower-income-a...
13,How Mastercard has outperformed Visa,2023-05-27,https://www.cnbc.com/2023/05/27/how-mastercard...
14,Why commercial real estate firms are joining t...,2023-05-27,https://www.cnbc.com/2023/05/27/commercial-rea...
15,Japan stocks are on fire this year. Why the ra...,2023-05-27,https://www.cnbc.com/2023/05/27/japan-stocks-a...
16,Marvell Technology shares surge after earnings...,2023-05-26,https://www.cnbc.com/2023/05/26/marvell-techno...
17,"The tech trade is back, driven by A.I. craze a...",2023-05-26,https://www.cnbc.com/2023/05/26/tech-stocks-ar...
18,Next week hints at only short-lived debt deal ...,2023-05-26,https://www.cnbc.com/2023/05/26/next-week-hint...
19,Treasury says it could run out of money June 5...,2023-05-26,https://www.cnbc.com/2023/05/26/treasury-says-...
20,Disney rips DeSantis bid to disqualify judge i...,2023-05-26,https://www.cnbc.com/2023/05/26/disney-rips-de...
21,Why the pause on student loan payments has bee...,2023-05-26,https://www.cnbc.com/2023/05/26/the-pause-on-s...
22,Facebook-Giphy sale shows how fear of regulato...,2023-05-26,https://www.cnbc.com/2023/05/26/facebook-giphy...
23,"JPMorgan Chase cut about 500 jobs this week, i...",2023-05-26,https://www.cnbc.com/2023/05/26/job-cuts-jpmor...
24,Is there a 'right' age for kids to be on socia...,2023-05-26,https://www.cnbc.com/2023/05/26/the-right-age-...
25,A.I. excitement leads to a winning week for Nv...,2023-05-26,https://www.cnbc.com/2023/05/26/ai-excitement-...
26,Nvidia shares jumped 25% this week â€” and got c...,2023-05-26,https://www.cnbc.com/2023/05/26/nvidia-shares-...
27,Needham says this stock plays the 'almost perf...,2023-05-26,https://www.cnbc.com/2023/05/26/needham-this-s...
28,AI is the latest buzzword in techâ€”but before i...,2023-05-26,https://www.cnbc.com/2023/05/26/chatgpt-machin...
29,Taylor Swift to Metallica: Top 10 most in-dema...,2023-05-26,https://www.cnbc.com/2023/05/26/taylor-swift-b...

# Request 6

In [47]:
page = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
page

In [48]:
soup = BeautifulSoup(page.content)

In [49]:
for table in soup.find_all('table'):
    print(table.get('class'))

In [50]:
table = soup.find('BasicTable-table')
table

In [51]:
title = []

for i in soup.find_all('h2', class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg'):
    title.append(i.text)

In [52]:
author = []

for i in soup.find_all('span', class_='sc-1w3fpd7-0 dnCnAO'):
    author.append(i.text)

In [53]:
date = []

for i in soup.find_all('span', class_='sc-1thf9ly-2 dvggWt'):
    date.append(i.text)

In [69]:
url = []

for i in soup.find_all('a', class_='sc-5smygv-0 fIXTHm'):
    url.append(i['href'])

In [70]:
print(len(title),len(author),len(date),len(url))

24 24 24 0

# Request 6 Results

In [56]:
df = pd.DataFrame({'Paper Title': title, 'Authors': author, 'Published Date': date, 'Paper URL': url})
df

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders LÃ¸land",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social humanâ€“robot in...,"SÃ©verin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"TomÃ¡Å¡ Kliegr, Å tÄ›pÃ¡n BahnÃ­k, Johannes FÃ¼rnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

# Request 7

In [57]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special') # have to VPN to access page
page

In [58]:
soup = BeautifulSoup(page.content)

name = []

for i in soup.find_all('a', class_="restnt-name ellipsis"):
    name.append(i.text)

[]

In [59]:
cuisine = []

for i in soup.find_all('span', class_='double-line-ellipsis'):
    cuisine.append(i.text.split("|")[1])

[]

In [60]:
location = []

for i in soup.find_all('div',class_='restnt-loc ellipsis'):
    location.append(i.text)

[]

In [61]:

ratings = []

for i in soup.find_all('div', class_='restnt-rating rating-4'):
    ratings.append(i.text)

[]

In [71]:
images = []

for i in soup.find_all('img',class_='no-img'):
    images.append(i.get("data-src"))

In [72]:
print(len(name),len(cuisine),len(location),len(ratings),len(images))

0 0 0 0 0

# Request 7 Results

In [73]:
df = pd.DataFrame({"Name":name,"Cuisine":cuisine,"Location":location,"Rating":ratings,"Image URL":images})
df

Empty DataFrame
Columns: [Name, Cuisine, Location, Rating, Image URL]
Index: []