In [3]:
# Import libraries
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException, NoSuchWindowException

Read all the problem statements, notes carefully and scrape the required data using any web scraping tool of your choice.  
• You have to handle commonly occurring EXCEPTIONS by using exception handling programing. To get information about selenium Exceptions. You may visit following links:  
1. https://selenium-python.readthedocs.io/api.html  
2. https://www.guru99.com/exception-handling-selenium.html  
3. https://stackoverflow.com/questions/38022658/selenium-python-handling-no-such-elementexception/38023345

# Request 1.

Scrape the details of most viewed videos on YouTube from Wikipedia.  
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos  
You need to find following details:  
A) Rank  
B) Name  
C) Artist  
D) Upload date  
E) Views

In [3]:
# Set up the driver
driver = webdriver.Chrome()

# Load the webpage
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
# Create lists

rank = []
name = []
artist = []
upload_date = []
views = []

In [5]:
all_tables = driver.find_element(By.XPATH, "//table")

In [6]:
# Most Viewed Videos
videos_table = all_tables.find_elements(By.XPATH, "//table[@class='wikitable sortable jquery-tablesorter']")
    
for video_table in videos_table[0:1]:
        video_details = video_table.find_elements(By.XPATH, ".//tbody//tr")

In [7]:
for video in video_details:
    try:
        rank.append(video.find_element(By.XPATH, ".//td[1]").text.replace(".", ""))
    except NoSuchElementException:
        rank.append("-")

    try:
        name.append(video.find_element(By.XPATH, ".//td[2]").text)
    except NoSuchElementException:
        name.append("-")

    try:
        artist.append(video.find_element(By.XPATH, ".//td[3]").text)
    except NoSuchElementException:
        artist.append("-")

    try:
        upload_date.append(video.find_element(By.XPATH, ".//td[5]").text)
    except NoSuchElementException:
        upload_date.append("-")

    try:
        views.append(video.find_element(By.XPATH, ".//td[4]").text)
    except NoSuchElementException:
        views.append("-")

In [8]:
# Create Dataframe
df = pd.DataFrame({'Rank': rank, 'Name': name, 'Artist': artist, 'Upload Date': upload_date, 'Views (billions)': views})
df

,Rank,Name,Artist,Upload Date,Views (billions)
0,1,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
1,2,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.16
2,3,"""Johny Johny Yes Papa""[16]",LooLoo Kids,"October 8, 2016",6.70
3,4,"""Bath Song""[17]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.20
4,5,"""Shape of You""[18]",Ed Sheeran,"January 30, 2017",6.00
5,6,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",5.89
6,7,"""Phonics Song with Two Words""[26]",ChuChu TV,"March 6, 2014",5.30
7,8,"""Wheels on the Bus""[27]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.24
8,9,"""Uptown Funk""[28]",Mark Ronson,"November 19, 2014",4.92
9,10,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV,"February 27, 2018",4.89
10,11,"""Gangnam Style""[30]",Psy,"July 15, 2012",4.80
11,12,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,"January 31, 2012",4.55
12,13,"""Dame Tu Cosita""[36]",El Chombo,"April 5, 2018",4.35
13,14,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.91
14,15,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.87
15,16,"""Roar""[39]",Katy Perry,"September 5, 2013",3.80
16,17,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.79
17,18,"""Sorry""[41]",Justin Bieber,"October 22, 2015",3.66
18,19,"""Baa Baa Black Sheep""[42]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.64
19,20,"""Thinking Out Loud""[43]",Ed Sheeran,"October 7, 2014",3.60
20,21,"""Waka Waka (This Time for Africa)""[44]",Shakira,"June 4, 2010",3.59
21,22,"""Dark Horse""[45]",Katy Perry,"February 20, 2014",3.52
22,23,"""Lakdi Ki Kathi""[46]",Jingle Toons,"June 14, 2018",3.48
23,24,"""Faded""[47]",Alan Walker,"December 3, 2015",3.45
24,25,"""Perfect""[48]",Ed Sheeran,"November 9, 2017",3.45
25,26,"""Let Her Go""[49]",Passenger,"July 25, 2012",3.44
26,27,"""Girls Like You""[50]",Maroon 5,"May 31, 2018",3.42
27,28,"""Humpty the train on a fruits ride""[51]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.41
28,29,"""Lean On""[52]",Major Lazer,"March 22, 2015",3.38
29,30,"""Bailando""[53]",Enrique Iglesias,"April 11, 2014",3.38

In [9]:
# Quit the browser
driver.quit()

# Request 2.

Scrape the details team India’s international fixtures from bcci.tv.  
Url = https://www.bcci.tv/.  
You need to find following details:  
A) Match title (I.e. 1st ODI)  
B) Series  
C) Place  
D) Date  
E) Time  
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [15]:
# Set up the driver
driver = webdriver.Chrome()

# Load the webpage
driver.get("https://www.bcci.tv/")

In [16]:
# Go to Team India’s International Fixtures page
driver.find_element(By.XPATH, "//ul[@class='nav navbar-nav  align-items-center']//li[@class='nav-item']//a[text()='INTERNATIONAL']").click()

In [38]:
# Create lists

title = []
series = []
place = []
date = []
time_ = []

In [18]:
matches_table = driver.find_element(By.XPATH, "//div[@class='fixture-tab-inner row']")
matches_table

In [19]:
matches_details = matches_table.find_elements(By.XPATH, ".//div[@class='col-lg-4 col-md-6 col-sm-12 ng-scope']")
matches_details

[<selenium.webdriver.remote.webelement.WebElement (session="b3a856bcc8c73ed51963fe5c0b4f94a5", element="FDA8C36C550F8D24CBBA9A27DE181BDD_element_169")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3a856bcc8c73ed51963fe5c0b4f94a5", element="FDA8C36C550F8D24CBBA9A27DE181BDD_element_170")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3a856bcc8c73ed51963fe5c0b4f94a5", element="FDA8C36C550F8D24CBBA9A27DE181BDD_element_171")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3a856bcc8c73ed51963fe5c0b4f94a5", element="FDA8C36C550F8D24CBBA9A27DE181BDD_element_164")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3a856bcc8c73ed51963fe5c0b4f94a5", element="FDA8C36C550F8D24CBBA9A27DE181BDD_element_172")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3a856bcc8c73ed51963fe5c0b4f94a5", element="FDA8C36C550F8D24CBBA9A27DE181BDD_element_173")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3a856bcc8c73ed51963fe5c0b4f94a5", element="FDA8C36C550F8D24CBBA9A27DE181BDD_element_166")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b3a856bcc8c73ed51963fe5c0b4f94a5", element="FDA8C36C550F8D24CBBA9A27DE181BDD_element_174")>]

In [39]:
for match in matches_details:
    matchTitle = ""
    
    try:
        matchTitle = match.find_element(By.XPATH, ".//*[@class='matchOrderText ng-binding ng-scope']").text
        title.append(matchTitle.replace("-", ""))
    except NoSuchElementException:
        title.append("-")
        
    try:
        series.append(match.find_element(By.XPATH, ".//h5[@class='match-tournament-name ng-binding']").text)
    except NoSuchElementException:
        series.append("-")
        
    try:
        place.append(match.find_element(By.XPATH, ".//*[@class='ng-binding ng-scope']").text)
    except NoSuchElementException:
        place.append("-")
        
    try:
        date.append(match.find_element(By.XPATH, ".//div[@class='match-dates ng-binding']").text)
    except NoSuchElementException:
        date.append("-")
        
    try:
        time_.append(match.find_element(By.XPATH, ".//div[@class='match-time no-margin ng-binding']").text)
    except NoSuchElementException:
        time_.append("-")

In [40]:
# Create Dataframe
df = pd.DataFrame({'Match Title': title, 'Series': series, 'Place': place, 'Date': date, 'Time': time_})
df

,Match Title,Series,Place,Date,Time
0,1st T20I,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",9 JUL 2023,4:00 AM EDT
1,2nd T20I,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",11 JUL 2023,4:00 AM EDT
2,1st Test,INDIA TOUR OF WEST INDIES 2023,"Windsor Park,",12 JUL 2023,10:00 AM EDT
3,3rd T20I,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",13 JUL 2023,4:00 AM EDT
4,1st ODI,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",15 JUL 2023,11:30 PM EDT
5,2nd ODI,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",18 JUL 2023,11:30 PM EDT
6,2nd Test,INDIA TOUR OF WEST INDIES 2023,"Queen's Park Oval,",20 JUL 2023,10:00 AM EDT
7,3rd ODI,INDIA WOMEN TOUR OF BANGLADESH 2023,"Shere Bangla National Stadium, Mirpur,",21 JUL 2023,11:30 PM EDT

In [16]:
# Quit the browser
driver.quit()

# Request 3.

Scrape the details of State-wise GDP of India from statisticstime.com.  
Url = http://statisticstimes.com/  
You have to find following details:  
A) Rank  
B) State  
C) GSDP(18-19)- at current prices  
D) GSDP(19-20)- at current prices  
E) Share(18-19)  
F) GDP($ billion)  
Note: - From statisticstimes home page you have to reach to economy page through code.

In [19]:
# Set up the driver
driver = webdriver.Chrome()

# Load the webpage
driver.get("http://statisticstimes.com/")

In [21]:
#object of ActionChains
a = ActionChains(driver)

#identify element (Select menu-item 'Economy')
m = driver.find_element(By.XPATH, "//div[@class='navbar']//div[@class='dropdown'][2]//button[@class='dropbtn']")

#hover over element
a.move_to_element(m).perform()
time.sleep(1)
    
#identify sub menu element (Select submenu-item 'India')
n = driver.find_element(By.LINK_TEXT, "India")

# hover over element and click
a.move_to_element(n).click().perform()
time.sleep(1)

try:
    driver.find_element(By.XPATH, "//span[text()='Close']").click()
except NoSuchElementException:
    time.sleep(5)

In [22]:
# Go to 'GDP of Indian States' for State-wise GDP of India
driver.find_element(By.XPATH, "//*[contains(text(), 'GDP of Indian states')]").click()
time.sleep(1)

gdp_table = driver.find_element(By.XPATH, "//table[@id='table_id']")
gdp_details = gdp_table.find_elements(By.XPATH, ".//tbody//tr")

In [23]:
# Create lists

rank = []
state = []
GSDP1819 = []
GSDP1920 = []
share1819 = []
GDP = []

In [24]:
for gdp_state in gdp_details:

    try:
        rank.append(gdp_state.find_element(By.XPATH, ".//td[1]").text)
    except NoSuchElementException:
        rank.append("-")

    try:
        state.append(gdp_state.find_element(By.XPATH, ".//td[2]").text)
    except NoSuchElementException:
        state.append("-")

    try:
        GSDP1819.append(gdp_state.find_element(By.XPATH, ".//td[3]").text)
    except NoSuchElementException:
        GSDP1819.append("-")

    try:
        GSDP1920.append(gdp_state.find_element(By.XPATH, ".//td[4]").text)
    except NoSuchElementException:
        GSDP1920.append("-")

    try:
        share1819.append(gdp_state.find_element(By.XPATH, ".//td[5]").text)
    except NoSuchElementException:
        share1819.append("-")

    try:
        GDP.append(gdp_state.find_element(By.XPATH, ".//td[6]").text)
    except NoSuchElementException:
        GDP.append("-")

In [25]:
# Create Dataframe
df = pd.DataFrame({'Rank': rank, 'State': state, 'GSDP (19-20)': GSDP1819, 'GSDP (18-19)': GSDP1920, 'Share': share1819, 'GDP ($billion)': GDP})
df

,Rank,State,GSDP (19-20),GSDP (18-19),Share,GDP ($billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [26]:
# Quit the browser
driver.quit()

# Request 4.

Scrape the details of trending repositories on Github.com.  
Url = https://github.com/  
You have to find the following details:  
A) Repository title  
B) Repository description  
C) Contributors count  
D) Language used  
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [27]:
# Set up the driver
driver = webdriver.Chrome()

# Load the webpage
driver.get("https://www.github.com/")

In [29]:
#object of ActionChains
a = ActionChains(driver)

#identify element (Select menu-item 'Explore')
m = driver.find_element(By.XPATH, "//*[contains(text(), 'Open Source')]")

#hover over element
a.move_to_element(m).perform()
time.sleep(1)

#identify sub menu element (Select submenu-item 'Trending')
n = driver.find_element(By.LINK_TEXT, "Trending")

# hover over element and click
a.move_to_element(n).click().perform()
time.sleep(1)

repo_details = driver.find_elements(By.XPATH, "//article[@class='Box-row']")
#print("repo_details: ", len(repo_details))

In [32]:
# Create lists

repo_title = []
repo_desc = []
cont_count = []
language = []

In [33]:
for repo in repo_details:

    try:
        repo_title.append(repo.find_element(By.XPATH, ".//h1[@class='h3 lh-condensed']//a").text)
    except NoSuchElementException:
        repo_title.append("-")

    try:
        repo_desc.append(repo.find_element(By.XPATH, ".//p").text)
    except NoSuchElementException:
        repo_desc.append("-")

    try:
        cont_counts = repo.find_elements(By.XPATH, ".//span[@class='d-inline-block mr-3']//a")
        cont_count.append(len(cont_counts))
    except NoSuchElementException:
        cont_count.append("-")

    try:
        language.append(repo.find_element(By.XPATH, ".//span[@itemprop='programmingLanguage']").text)
    except NoSuchElementException:
        language.append("-")

In [34]:
# Display all data in 1 table
df = pd.DataFrame({'Repository Title': repo_title, 'Repository Description': repo_desc, 'Contributors Count': cont_count, 'Language Used': language})
df

,Repository Title,Repository Description,Contributors Count,Language Used
0,-,Official Code for DragGAN (SIGGRAPH 2023),5,Python
1,-,ChatGLM2-6B: An Open Bilingual Chat LLM | 开源双语...,5,Python
2,-,Fast Segment Anything,5,Python
3,-,GPT 3.5/4 with a Chat Web UI. No API key requi...,3,Python
4,-,Framework to easily create LLM powered bots ov...,5,Python
5,-,Spacedrive is an open source cross-platform fi...,5,Rust
6,-,OpenResume is a powerful open-source resume bu...,1,TypeScript
7,-,Papers from the computer science community to ...,5,Shell
8,-,An open source e-commerce skateshop build with...,5,TypeScript
9,-,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",5,JavaScript
10,-,A DIY navigation device for Fusion360,1,C++
11,-,ChatGLM-6B: An Open Bilingual Dialogue Languag...,5,Python
12,-,"Code Repository for CVPR 2023 Paper ""PanoHead:...",1,Python
13,-,ChatGPT 中文调教指南。各种场景使用指南。学习怎么让它听你的话。,5,-
14,-,🚀✨ Help beginners to contribute to open source...,5,-
15,-,A local-first personal finance system,5,JavaScript
16,-,The official gpt4free repository | various col...,5,Python
17,-,Cybernetically enhanced web apps,5,JavaScript
18,-,"Unofficial Implementation of DragGAN - ""Drag Y...",5,Python
19,-,[CVPR 2023 Best Paper] Planning-oriented Auton...,5,Python
20,-,"QGIS is a free, open source, cross platform (l...",5,C++
21,-,🔥 🔥 🔥 An intelligent and versatile general-pur...,5,Java
22,-,PyGWalker: Turn your pandas dataframe into a T...,5,Python
23,-,Tensor library for machine learning,5,C
24,-,🧠 Dump all your files and thoughts into your p...,5,TypeScript

In [35]:
# Quit the browser
driver.quit()

# Request 5.

Scrape the details of top 100 songs on billiboard.com.  
Url = https:/www.billboard.com/  
You have to find the following details:  
A) Song name  
B) Artist name  
C) Last week rank  
D) Peak rank  
E) Weeks on board  
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [45]:
# Set up the driver
driver = webdriver.Chrome()

# Load the webpage
driver.get("https://www.billboard.com/")

In [49]:
# Go to 'Charts'
driver.find_element(By.XPATH, "/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]").click()
time.sleep(3)

In [50]:
# Go to 'Hot 100' for Top 100 Songs List
driver.find_element(By.XPATH, "/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a").click()

In [54]:
# Create lists

song = []
artist = []
last_week = []
peak = []
weeks_on_board = []

In [55]:
topSongs_details = driver.find_elements(By.XPATH, "//div[@class='o-chart-results-list-row-container']")

In [56]:
print("topSongs_details: ", len(topSongs_details))

topSongs_details:  100

In [57]:
for topSong in topSongs_details:

    try:
        song.append(topSong.find_element(By.XPATH, ".//li[@class='lrv-u-width-100p']//ul//li[1]//h3[@id='title-of-a-story']").text)
    except NoSuchElementException:
        song.append("-")

    try:
        artist.append(topSong.find_element(By.XPATH, ".//li[@class='lrv-u-width-100p']//ul//li[1]//span").text)
    except NoSuchElementException:
        artist.append("-")

    try:
        last_week.append(topSong.find_element(By.XPATH, ".//li[@class='lrv-u-width-100p']//ul//li[4]").text)
    except NoSuchElementException:
        last_week.append("-")

    try:
        peak.append(topSong.find_element(By.XPATH, ".//li[@class='lrv-u-width-100p']//ul//li[5]").text)
    except NoSuchElementException:
        peak.append("-")

    try:
        weeks_on_board.append(topSong.find_element(By.XPATH, ".//li[@class='lrv-u-width-100p']//ul//li[6]").text)
    except NoSuchElementException:
        weeks_on_board.append("-")

In [58]:
# Display all data in 1 table
df = pd.DataFrame({'Song Name': song, 'Artist Name': artist, 'Last Week Rank': last_week, 'Peak Rank': peak, 'Weeks On Board': weeks_on_board})
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks On Board
0,Last Night,Morgan Wallen,1,1,21
1,Fast Car,Luke Combs,3,2,13
2,Calm Down,Rema & Selena Gomez,4,3,42
3,Flowers,Miley Cyrus,2,1,23
4,All My Life,Lil Durk Featuring J. Cole,5,2,6
...,...,...,...,...,...
95,"Angel, Pt. 1","Kodak Black, NLE Choppa, Jimin, JVKE & Muni Long",-,65,2
96,Girl In Mine,Parmalee,-,97,1
97,Moonlight,Kali Uchis,90,80,11
98,Classy 101,Feid x Young Miko,-,99,1
99,Bluffin,Gucci Mane & Lil Baby,-,100,1

In [59]:
# Quit the browser
driver.quit()

# Request 6.

Scrape the details of Highest sellingnovels.  
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare  
You have to find the following details:  
A) Book name  
B) Author name  
C) Volumes sold  
D) Publisher  
E) Genre

In [50]:
# Set up the driver
driver = webdriver.Chrome()

# Load the webpage
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [51]:
novels_table = driver.find_element(By.XPATH, "//table[@class='in-article sortable']")
novels_details = novels_table.find_elements(By.XPATH, ".//tbody//tr")

In [54]:
# Create lists

book = []
author = []
sold = []
publisher = []
genre = []

In [55]:
for novel in novels_details:

    try:
        book.append(novel.find_element(By.XPATH, ".//td[2]").text)
    except NoSuchElementException:
        book.append("-")

    try:
        author.append(novel.find_element(By.XPATH, ".//td[3]").text)
    except NoSuchElementException:
        author.append("-")

    try:
        sold.append(novel.find_element(By.XPATH, ".//td[4]").text)
    except NoSuchElementException:
        sold.append("-")

    try:
        publisher.append(novel.find_element(By.XPATH, ".//td[5]").text)
    except NoSuchElementException:
        publisher.append("-")

    try:
        genre.append(novel.find_element(By.XPATH, ".//td[6]").text)
    except NoSuchElementException:
        genre.append("-")

In [56]:
# Create Dataframe
df = pd.DataFrame({'Book Name': book, 'Author Name': author, 'Volumes Sold': sold, 'Publisher': publisher, 'Genre': genre})
df

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [57]:
# Quit the browser
driver.quit()

# Request 7.

Scrape the details most watched tv series of all time from imdb.com.  
Url = https://www.imdb.com/list/ls095964455/  
You have to find the following details:  
A) Name  
B) Year span  
C) Genre  
D) Run time  
E) Ratings  
F) Votes

In [58]:
# Set up the driver
driver = webdriver.Chrome()

# Load the webpage
driver.get("https://www.imdb.com/list/ls095964455/")

In [63]:
tvShows = driver.find_elements(By.XPATH, "//div[@class='lister-item mode-detail']")

In [64]:
# Create lists

name = []
years = []
genre = []
run_time = []
rating = []
votes = []

In [65]:
for tvShow in tvShows:

    try:
        name.append(tvShow.find_element(By.XPATH, ".//h3[@class='lister-item-header']//a").text)
    except NoSuchElementException:
        name.append("-")

    try:
        years.append(tvShow.find_element(By.XPATH, ".//span[@class='lister-item-year text-muted unbold']").text)
    except NoSuchElementException:
        years.append("-")

    try:
        genre.append(tvShow.find_element(By.XPATH, ".//p[@class='text-muted text-small']//span[@class='genre']").text)
    except NoSuchElementException:
        genre.append("-")

    try:
        run_time.append(tvShow.find_element(By.XPATH, ".//p[@class='text-muted text-small']//span[@class='runtime']").text)
    except NoSuchElementException:
        run_time.append("-")

    try:
        rating.append(tvShow.find_element(By.XPATH, ".//span[@class='ipl-rating-star__rating']").text)
    except NoSuchElementException:
        rating.append("-")

    try:
        votes.append(tvShow.find_element(By.XPATH, ".//span[@name='nv']").text)
    except NoSuchElementException:
        votes.append("-")

In [66]:
# Create Dataframe
df = pd.DataFrame({'Name': name, 'Year Span': years, 'Genre': genre, 'Run Time': run_time, 'Rating': rating, 'Votes': votes})
df

,Name,Year Span,Genre,Run Time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,173,688"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,251,525"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,032,482"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"303,555"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"262,726"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,956"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,993"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"208,541"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"43,401"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"260,195"

In [67]:
# Quit the browser
driver.quit()

# Request 8.

Details of Datasets from UCI machine learning repositories.  
Url = https://archive.ics.uci.edu/  
You have to find the following details:  
A) Dataset name  
B) Data type  
C) Task  
D) Attribute type  
E) No of instances  
F) No of attribute  
G) Year  
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [56]:
# Set up the driver
driver = webdriver.Chrome()

# Load the webpage
driver.get("https://archive.ics.uci.edu/")

In [57]:
# search
driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/div/div[2]/button').click()
time.sleep(1)

driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]').click()
time.sleep(1)

driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]').click()

In [58]:
# Create lists

dataset = []
data_type = []
task = []
attribute_type = []
instance_number = []
year = []

In [59]:
true = True

while true:

    datasets = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/h2/a')
    for i in datasets:
        datase = i.text
        dataset.append(datase)

    data_types = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[2]/span')
    for i in data_types:
        data_ty = i.text
        if len(data_ty) < 1:
            data_ty = '-'
        data_type.append(data_ty)

    tasks = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[1]/span')
    for i in tasks:
        tas = i.text
        if len(tas) < 1:
            tas = '-'
        task.append(tas)

    attribute_types = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]')
    for i in attribute_types:
        attribute_ty = i.text
        if len(attribute_ty) < 1:
            attribute_ty = '-'
        attribute_type.append(attribute_ty)

    instance_numbers = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[1]/div[2]/div/div[3]/span')
    for i in instance_numbers:
        instance_num = i.text
        if len(instance_num) < 1:
            instance_num = '-'
        instance_number.append(instance_num)
        
    years = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]')
    for i in years:
        yea = i.text
        year.append(yea)  

    try:    
        driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]').click() 
    except:
        true = 0
        break
    
    time.sleep(5)

In [62]:
df = pd.DataFrame({'DataSet Name': dataset, 'Data Type': data_type, 'Task': task, 'Attribute Type': attribute_type, 'No of Instances': instance_number, 'Year': year})
df

,DataSet Name,Data Type,Task,Attribute Type,No of Instances,Year
0,Iris,Multivariate,Classification,Real,150 Instances,6/30/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,6/30/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,4/30/1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,9/13/2020
4,Diabetes,-,-,"Categorical, Integer",-,N/A
...,...,...,...,...,...,...
618,PMU-UD,Univariate,Classification,-,5.18K Instances,8/4/2018
619,chestnut â€“ LARVIC,null,"Classification, Clustering",-,1.45K Instances,5/29/2017
620,EBL Domain Theories,-,-,N/A,-,N/A
621,Moral Reasoner,-,-,N/A,202 Instances,5/31/1994
622,DGP2 - The Second Data Generation Program,-,-,Real,-,N/A

In [63]:
# Quit the browser
driver.quit()

# Request 9.

Scrape the details of Data science recruiters  
Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details:  
A) Name  
B) Designation  
C)Company  
D)Skills they hire for  
E) Location  
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type "Data science" and click on search. All this should be done through code

In [118]:
# Set up the driver
driver = webdriver.Edge()

# Load the webpage
driver.get("https://www.naukri.com/hr-recruiters-consultants/")

# Data Science yields an Access Denied

In [119]:
driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div[2]/div/button').click()

element_xpath = "/html/body/div[1]/div[4]/div/div/section/div[3]/div/a[2]"

In [120]:
# Create lists

name = []
designation = []
company = []
location = []

In [122]:
while len(name)!=10:

    element = driver.find_element(By.XPATH, element_xpath)
    driver.execute_script("arguments[0].scrollIntoView();", element)
    driver.execute_script("window.scrollBy(0, -100);")
    time.sleep(5)
    
    names = driver.find_elements(By.XPATH, "//*[@class='title ellipsis']")
    for i in names:                       
        nam = i.text
        name.append(nam)

    designations = driver.find_elements(By.XPATH,"//*[@class='ellipsis fleft ']")
    for i in designations:                       
        desig = i.text
        designation.append(desig)
        
    companies = driver.find_elements(By.XPATH,"//*[@class='subTitle ellipsis fleft']")
    for i in companies:                       
        comp = i.text
        company.append(comp)

    locations = driver.find_elements(By.XPATH,"//*[@class='ellipsis fleft locWdth']")
    for i in locations:                       
        loc = i.text
        if len(loc) < 1:
            location.append("-")
        else:
            location.append(loc)

    time.sleep(2)

    driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section/div[3]/div/a[2]').click()

# Access denied
    break

In [123]:
print(len(name), len(designation), len(company), len(location))

40 40 40 19

In [124]:
# Display all data in 1 table
df = pd.DataFrame({'Name': name[:19], 'Designation': designation[:19], 'Company': company[:19], 'Location': location[:19]})
df

,Name,Designation,Company,Location
0,Recruitment Opportunity For HR Executive,1.25-2 Lacs PA,Kone,"Chennai, Tamil Nadu"
1,Human Resources Executive,Not disclosed,Marriott,Chennai
2,HR Recruiter _ Bhubaneshwar (Btech Candidates ...,1.75-2.5 Lacs PA,Tech Mahindra,Bhubaneswar
3,HR Recruitment Scheduler Specialist - Bangalore,"80,000-3 Lacs PA",2coms,"Bangalore/Bengaluru, Bangalore"
4,Job opportunity For freshers/HR Recruiter/HR E...,Not disclosed,Black And White Business Solutions,Bangalore/Bengaluru(Kodihalli +3)
5,HR Executive,4-5 Lacs PA,Bonami Software,"New Delhi, Delhi / NCR"
6,Direct Walk in Interview For HR Executive(Female),1.25-2.25 Lacs PA,m2 Vending,Bangalore/Bengaluru(Bannerghatta +1)
7,HR Executive,2-3 Lacs PA,Reputed Group of Higher Education Insititions....,"Hybrid - Mohali, Punjab"
8,Jr HR Executive,Not disclosed,SPECTRAFORCE,"Mohali, Punjab"
9,HR Executive,Not disclosed,Abhinav Futuristics,"Pune, Maharashtra(Koregaon Park)"
10,Executive/ Assistant Manager HR Generalist - P...,5-6 Lacs PA,OASIS,Mumbai (All Areas)
11,Opening For Management Trainee / Executive - HR,Not disclosed,Sahajanand Medical Technologies,Mumbai
12,Recruiter - HR,Not disclosed,Fashion Tv India,"Bhubaneswar, Odisha, Hubli, Karnataka, Sambalp..."
13,Assistant Manager - HR (Field Level Recruitment),2.5-4 Lacs PA,Muthoot Microfin,"Gurgaon/ Gurugram, Haryana"
14,Hiring Freshers : HR Executive: Recruiter-Guru...,"50,000-2.5 Lacs PA",Advance Career Solutions,"Navi Mumbai, Maharashtra"
15,HR Trainee/Fresher(MBA)-Navi Mumbai(IMD joiner...,Not disclosed,3i Infotech,"Navi Mumbai, Maharashtra"
16,HR Trainee/Fresher(MBA)-Navi Mumbai(IMD joiner...,Not disclosed,3i Infotech,"Bangalore/ Bengaluru, Karnataka"
17,"Hiring Hr recruiters, day shift, spot offer an...",2-2.5 Lacs PA,Ignites Human Capital,Jabalpur
18,Human Resource Recruiter @Jabalpur: Salary Upt...,1-1.5 Lacs PA,KVC Consultants Ltd.,Jabalpur

In [125]:
# Quit the browser
driver.quit()